$color-primary-0: #115B8F;	// Main Primary color */
$color-primary-1: #252F36;
$color-primary-2: #264D6A;
$color-primary-3: #066EB7;
$color-primary-4: #0180DB;

$color-secondary-1-0: #381A9A;	// Main Secondary color (1) */
$color-secondary-1-1: #2C2839;
$color-secondary-1-2: #3D2C71;
$color-secondary-1-3: #360BC1;
$color-secondary-1-4: #3601E0;

$color-secondary-2-0: #1BB70B;	// Main Secondary color (2) */
$color-secondary-2-1: #2F442D;
$color-secondary-2-2: #33872A;
$color-secondary-2-3: #15DB00;
$color-secondary-2-4: #16ED00;

$color-complement-0: #E0840D;	// Main Complement color */
$color-complement-1: #544737;
$color-complement-2: #A57333;
$color-complement-3: #FF9000;
$color-complement-4: #FF9000;

// http://paletton.com/#uid=63w0J0ku5s4aSavm0kGKHBTZJOo

