.contact {
	margin-bottom:0;
}

.contact-wrapper {
	display: inline-block;
	width:50%;
	float: left;
}

.contact-form {
	display: inline-block;
	width:50%;
	float: left;
	input, textarea {
		display: block;
		text-align: left;
		padding: 5px;
		border: 1px solid $light-blue;
		margin: 5px;
	}

	input {
		width:50%;
	}
}