.contact {
	
	.contact-wrapper {
		display: block;
		margin-top: 80px;
	}
}

.social-wrapper {
	display: flex;
	justify-content: center;

	.social-icon {
		background: $alt-blue;
	    width: 40px;
	    height: 40px;
	    border-radius: 50%;
	    color: #FFF;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    font-size: 28px;
	    margin: 0 4px;
	}

}

.contact-info {
	display: inline-block;
	width:50%;
	float: left;

	.contact-text {
		font-size: 28px;
	    width: 80%;
	    margin: 75px auto;
	    color: $text-grey;
	}
}

.contact-form {
	display: inline-block;
	width:50%;
	float: left;
	
	&-name, &-email, &-message {
		display: block;
		text-align: left;
		padding: 5px;
		border: 1px solid $light-blue;
		margin: 15px 0;
		width: 75%;
		padding: 10px;
	}

	&-message {
		height: 150px;
		resize: vertical;
	}

	&-btn {
		width: 25%;
    	float: left;
    	margin-left: 50%;
    	border: 2px solid $light-blue;
    	background: $light-blue;
    	color: #FFF;
	}
	
}