* {
	box-sizing: border-box;
}

.header {
	background: #FFF;
	overflow: hidden;
	height:100px; 
	border-bottom: 6px solid $light-blue;
}

.navigation-list {
	line-height: 100px;
	margin: 0 15px;

	.navigation-list-item {
		list-style-type: none;
		display: inline;
		margin-left: 5%;
		margin-right: 5%;

		a {
			text-decoration: none;
			color: black;
			font-weight: 300;
			font-size: 38px;
		}
	}
}


