.home-section {
	background: url("../img/home-background.jpg") no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 100px);
	margin-bottom: 0;
}

.home-overlay {
	height: 100%;
	width: 100%;
	position: absolute;
	background: #000;
	opacity: 0.4;
	left: 0;
}

.about-section {
	padding: 45px 80px;
	margin: 0 0 35px 0;

	.about-me {
		float: left;
		margin: 0;
		overflow: hidden;
		width: 55%;
		@media screen and (max-width: 1000px) {
			float: none;
   			margin: 20px auto 0;
    		width: 100%;
		}

		.text {
			width: 100%;
			margin: 75px auto 0 auto;
			@media screen and (max-width: 1000px) {
			    margin: 25px auto 0;
			}
			
			span {
				font-size: 28px;
				font-weight: bold;
				color: $orange;
			}
		}
	}
}


.profile-picture {
	width: 40%;
	float: left;
	border: 12px solid $light-blue;
	margin: 0 40px 0 0;

	@media screen and (max-width: 1000px) {
		width: 50%;
		margin: 0 auto;
		display: block;
		float: none;
	}
}

