.skills-section {
	.skills-wrapper {
		margin-top: 40px;
		background: $light-grey;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.skill {
			display: inline-block;
			height: 175px;
			margin: 55px;
		}
	}
}