$light-blue: #4EC7DD;
$alt-blue: #63DCFF;
$light-grey: #D4DFE1;
$grey: #B6B6B6;
$text-grey: #3E3E3E;
$dark-grey: #474747;
$orange: #FF5907;


// blue: #115B8F;	// Main Primary color */
// blue-darkest: #252F36;
// blue-darker: #264D6A;
// blue-lighter: #066EB7;
// blue-lightest: #0180DB;

// $daisy-bush: #381A9A;	// Main Secondary color (1) */
// $daisy-bush-darkest: #2C2839;
// $daisy-bush-darker: #3D2C71;
// $daisy-bush-lighter: #360BC1;
// $daisy-bush-lightest: #3601E0;

// $malachite: #1BB70B;	// Main Secondary color (2) */
// $malachite-darkest: #2F442D;
// red: #33872A;
// $malachite-lighter: #15DB00;
// $malachite-lightest: #16ED00;

// $golden-bell: #E0840D;	// Main Complement color */
// $golden-bell-darkest: #544737;
// $golden-bell-darker: #A57333;
// $golden-bell-lighter: #FF9000;
// $golden-bell-lightest: #FF9000;

// // http://paletton.com/#uid=63w0J0ku5s4aSavm0kGKHBTZJOo
// // http://chir.ag/projects/name-that-color/

// white: #FFF;
// $black: #000;