@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,400italic);

* {
	font-family: 'Ubuntu', sans-serif;
	text-align: center;
	box-sizing: border-box;
}

section {
	overflow: hidden;
}


h2 {
	margin: 20px auto 0px auto;
	color: $tory-blue;
	font-weight: 300;
	
	
}

p {
	font-size: 16px;
}



@keyframes blink {
	from {
		opacity:0;
	}

	to {
		opacity:1;
	}
}

.title-underscore {
	display: inline;
	font-size: 28px;
	line-height: 28px;
	color: $golden-bell;
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: initial;

}