@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700,400italic);

* {
	font-family: arial;
	text-align: center;
	box-sizing: border-box;
}

section {
	overflow: hidden;
	margin-bottom: 80px;
	background: #FFF;
}


h2 {
	color: $dark-grey;
	text-transform: uppercase;
	margin: 0 auto;
	display: block;
	width: auto;
	max-width: 32%;
	padding: 10px 30px;
	border-bottom: 4px solid $light-blue;
	font-size: 50px;
	font-weight: 700;
}


p {
	font-size: 24px;
	color: $text-grey;
}



@keyframes blink {
	0% {opacity:0;}

	100% {opacity:1;}
}

.title-underscore {
	display: inline;
	font-size: 50px;
	line-height: 50px;
	color: black;
	animation-name: blink;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-timing-function: initial;

}